@font-face {
  font-family: "iconfont"; /* Project id 3537219 */
  src: url('iconfont.woff2?t=1658372380887') format('woff2'),
       url('iconfont.woff?t=1658372380887') format('woff'),
       url('iconfont.ttf?t=1658372380887') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e726";
}

.icon-yonghu:before {
  content: "\e60a";
}

